<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Organizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Organizer.Properties.Settings.dbtaskConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\dbtask.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Organizer.Properties.Settings>
            <setting name="TimeBalloon" serializeAs="String">
                <value>05/22/2019 00:25:00</value>
            </setting>
            <setting name="ShowBalloon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="View" serializeAs="String">
                <value>0</value>
            </setting>
        </Organizer.Properties.Settings>
    </userSettings>
</configuration>